
html {
  font-size: responsive 12px 21px;
  font-range: 420px 1280px;
}

body{
  background: -webkit-radial-gradient(center, ellipse cover, #2c2e3d 0%,#000000 100%);
  background-color: #000000;
  font-family: 'Playfair Display', serif;
}

.appContainer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
