
html {
  font-size: responsive 12px 21px;
  font-range: 420px 1280px;
}

body{
  background: -webkit-radial-gradient(center, ellipse cover, #2c2e3d 0%,#000000 100%);
  background-color: #000000;
  font-family: 'Playfair Display', serif;
}

.appContainer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.centerContainer {
	width: 80%;
	margin: 0px auto;
}

.flexContainerRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flexContainerRowCenter {
  display: flex;
  justify-content: center;
}

.flexContainerColumn {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
}

.containerHeader {
  border-bottom: 1px solid $white;
  border-top: 10px solid $white;
  padding: 20px 0px;
  font-size: $fontHeading;
  color: $white;
  text-align: center;
  text-transform: lowercase;
}

.movieHeader {
  font-size: responsive 20px 30px;
  color: $white;
  padding: 20px;
  text-align: center;
}

.movieInformation {
  color: $white;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  & h3 {
    flex: 1;
    text-align: center;
    padding: 20px;
    font-size: responsive 18px 20px;
  }
  
  & h5 {
    color: $offWhite;
    font-size: .9em;
    line-height: 1.3em;
  }

  & span {
    color: $white;
  }
}

.imagesFilter {
  filter: grayscale(.6);
  &:hover {
    filter: grayscale(0);
  }
}

img {
  width: 100%;
}

/* LOADING ANIMATION */
.loadingAnimation {
  margin-top: 15%;
}

.loadingTitle {
  color: $white;
  padding-top: 3em;
}

/* LOGIN */
.userLogin {
  margin-right: 25px;
  margin-left: 15px;
}
