.carousel-div{
  border-bottom: 5px solid $mainColor;
}

#carousel-img{
    margin: 0px auto;
    width: 80%;
}

#carousel-caption{
  background-color: black;
  border-radius: 10px;
  opacity: 0.7;
  
  & h2 {
    font-size: responsive 16px 30px;
  }
}

.play_img{
  position: absolute;
  width: 10%;
  left: 45%;
  right: 41%;
  cursor: pointer;
  top: 25%;

  & img {
    width: 100%;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}

.featurePlayIcon {
  position: absolute;
  width: 20%;
  left: 40%;
  right: 41%;
  cursor: pointer;
  top: 9%;
  z-index: 20;
  opacity: .8;

  & img {
    opacity: .8;

    &:hover {
      opacity: 1;
    }
  }
}

