footer{
  width:100%;
  height:25px;
}
footer h3{
  color: $white;
}
.footerBackground {
    height: 4em;
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}