
/*=========================================================================================*/
/*HEADER*/
/*=========================================================================================*/

 .navbar-brand {
    font-size: 36px !important;
    /*font-family: 'Architects Daughter', cursive;*/
     /*font-family: 'Rock Salt', cursive; */
    /*font-family: 'Bubbler One', sans-serif;*/
    font-family: 'Oswald', sans-serif;
    font-weight: 700;

}


.headerWrapper {
/*    height: 85px;
    width: 80%;
    margin: 0 auto;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;*/

    height: 72px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
}

header h1 {
  /*  color: white;
    font-size: 25px;
    padding-top: 20px;
    display: inline-flex; 
    cursor: pointer;*/
        color: white;
    font-size: 16px;
    padding-top: 20px;
    display: inline-flex;
    cursor: pointer;
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 600;
}

.brand {
  flex-grow: 1;
  display: flex;
}
nav a:hover {
  text-decoration: none;
}

.brand h1 {
  /*font-family: 'Raleway Dots', cursive;*/
/*  font-family: bebas-neue, sans-serif;
  font-size: 40px;
  letter-spacing: 2px;*/
    font-family: bebas-neue, sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    padding-top: 8px;
}
.menu {
  flex-grow: 12;
}
