.wrapper {
  height: 100%;
}
section.landing_page {
 /* width: 1200px;
  overflow: scroll;*/
  /*width: 1200px;*/
  /*overflow: scroll;*/
}
section.landing_page h2{
  text-align: center;
  color: #FFFFFF;
}
article.landing_page_movieInfo{
/*  display: inline-block;
  margin: 50px 25px;
  margin-top: 5px;*/
 /* margin-top: 5px;
  width: 33%;*/
  display: inline-block;
  /*margin: 50px 25px;*/
  margin-top: 5px;
  /*overflow: scroll;*/
}

.landing_page_movieInfo_image{
 /* height: 300px;
  width: 270px;*/
/*  width: 100%;
  height: 125px;*/
  /*opacity:.8;*/
}
.landing_page_movieInfo {
  transform: scale(.9);
  position: relative;
  opacity: .85;
}

.landing_page_movieInfo :hover {
  transform: scale(1.1);
  transition: all .2s ease-in;
  opacity: 1;
}
.videoListWrapper { 
/*  width: auto;
  margin-left: 10%;
  margin-right: 10%;*/
    width: 80%;
    margin: 0 auto;
}
.videoListWrapper h2 { 
 /*   text-align: center;
    font-size: 33px;
    padding: 20px 0px;
    color: white;*/

    text-align: center;
    font-size: 25px;
    padding: 20px 0px;
    color: white;
    font-family: raleway, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}