@custom-media --medium-viewport (width >= 768px) and (width <= 992px);
@media (--medium-viewport) {
  .landing_page {
    flex-wrap: wrap;
  }
  article.landing_page_movieInfo {
    width: 50%;
  }
  /* input placeholder */
  ::-webkit-input-placeholder { /* WebKit browsers */
    color: transparent;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: transparent;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: transparent;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: transparent;
  }
}

/*@custom-media --small-viewport (width <= 368px) and (width <= 750px);*/
@custom-media --small-viewport (width < 768px);
@media (--small-viewport) {
  .landing_page {
    flex-wrap: wrap;
  }
  article.landing_page_movieInfo {
    width: 100%;
  }
  /* input placeholder */
  ::-webkit-input-placeholder { /* WebKit browsers */
      color: transparent;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color: transparent;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color: transparent;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
     color: transparent;
  }
}
