.resultsList {
  padding-top: 2.5em;
}

.result_header {
  border-bottom: 1px solid $white;
  border-top: 10px solid $white;
  padding: 20px 0px;
  font-size: $fontHeading;
  color: $white;
  text-align: center;
  text-transform: lowercase;
}
.resultsItem {
  width: 45%;
  margin-bottom: 1.8em;
  border-bottom: 1px solid #7c7c7c;

  & img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
  }
}
.search-item-container {
  border-radius: 550px;
  /*width: 100%;*/
}
.search-item-title-container {
  color: $white;

  & h3 {
    text-align: center;
    padding: 20px; 
    font-size: responsive 14px 25px;
  }

  & h5 {
    color: $offWhite;
    font-size: .9em;
    line-height: 1.3em;
    margin-bottom: 1.8em
  }
}

