.resultsList {
  padding-top: 2.5em;
}

.result_header {
  border-bottom: 1px solid $white;
  border-top: 10px solid $white;
  padding: 20px 0px;
  font-size: $fontHeading;
  color: $white;
  text-align: center;
  text-transform: lowercase;
}
.resultsItem {
  width: 45%;
  margin-bottom: 1.8em;
  border-bottom: 1px solid #7c7c7c;
}

.resultsPlayIcon{
  position: absolute;
  width: 20%;
  left: 40%;
  top: 24%;
  z-index: 20;
  opacity: .8;
  cursor: pointer;
  & img {
    width: 100%;
  }
}

.resultsTextContainer {
  color: $white;

  & h3 {
    text-align: center;
    padding: 20px; 
    font-size: responsive 14px 25px;
  }

  & h5 {
    color: $offWhite;
    font-size: .9em;
    line-height: 1.3em;
    margin-bottom: 1.8em
  }
}

