 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*brand font*/
@import url(https://fonts.googleapis.com/css?family=Raleway:600,900italic);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: raleway, sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a: hover {
  text-decoration: none !important;
}


/*=========================================================================================*/
/*STYLING*/
/*=========================================================================================*/

body{
  background: -webkit-radial-gradient(center, ellipse cover, #2c2e3d 0%,#000000 100%);
  background-color: #000000;
  font-family: 'Playfair Display', serif;
}


/*=========================================================================================*/
/*CAROUSEL*/
/*=========================================================================================*/
section.carousel-div{
/*  margin-top: -18px;*/
  /*padding-bottom: 40px;*/
      border-bottom: 5px solid #316daa;
}
#carousel-img{
    margin: 0px auto;
    width: 75%;
}
#carousel-caption{
  background-color: black;
  border-radius: 10px;
  opacity: 0.7;
}
#mini_carousel{
  height: 300px;
  margin: 0 auto;
}
#play_img{
  position: absolute;
  height: 300px;
  width: 300px;
  margin: 70px 750px;
  visibility: hidden;
}


/*=========================================================================================*/
/*FORM*/
/*=========================================================================================*/
input{
  display: block;
  border-radius: 5px;
  width: 60%;
  height: 60px;
  margin: 15px auto;
  /*font-size: 25px;*/
  font-size: 20px;
  border: 3px solid #222222;
  background-color: black;
  padding-left: 10px;
  color: white;
}
textarea{
  display: block;
  border-radius: 5px;
  width: 60%;
  height: 150px;
  /*margin: 20px 50px;*/
  margin: 15px auto;
  font-size: 25px;
  border: 3px solid #222222;
  background-color: black;
  padding-left: 10px;
  color: white;
}
.create_account_screen {
}
.create_account_form h1{
 /* text-align: center;
  color: white;
  font-size: 27px;
  padding-top: 20px;
  font-family: bebas-neue, sans-serif;
  letter-spacing: 2px;*/

      text-align: center;
    color: white;
    font-size: 25px;
    padding-top: 20px;
    font-family: raleway, sans-serif;
    /* letter-spacing: 2px; */
    text-transform: uppercase;
}

/*=========================================================================================*/
/*SEARCH*/
/*=========================================================================================*/

.searchBar {
/*  position: relative;
  flex-grow: 5;
  text-align: center;
  right: 50px;*/

      position: relative;
    flex-grow: 1;
    text-align: center;
    right: 50px;
}

.search_button {
 /* background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);*/
      background-color: #316daa;
    border: #316daa;
}

.inputSearch {
  border-radius: 5px;
  position: absolute;
  width: 375px;
  width: 100%;
  height: 40px;
  margin: 10px auto;
  font-size: 19px;
  border: 1px solid #FFFFFF;
  background-color: black;
  color: white;
  margin-right: 5px;
}
#search_button_img{
 /* position: absolute;
  top: 23px;
  height: 25px;
  width: 25px;
  right: 18%;*/
  /*background-color: rgba(0, 0, 0, 0.5);*/

 /*   position: absolute;
    top: 23px;
    height: 25px;
    width: 25px;
    right: 10px;*/
    position: absolute;
    top: 20px;
    height: 20px;
    width: 20px;
    right: 10px;
}

.search_not_found {
  color: white;
  text-align: center;
  margin: 50px;
  font-size: 30px;
}


/*=========================================================================================*/
/*BUTTONS*/
/*=========================================================================================*/
.register-button{
  height: 50px;
  width: 325px;
  font-size: 20px;
  background-color: #222222;
  color: white;
  border-radius: none;
}

.login-button{
  height: 50px;
  width: 200px;
  font-size: 20px;
  background-color: #222222;
  color: white;
  border-radius: none;
}

#navbar_register_link{
  position: absolute;
  top:-30px;
  right: 125px;
}

#navbar_login_link{
  position: absolute;
  top:-30px;
  right: 50px;
}

#navbar_logout_link{
  position: absolute;
  top:-30px;
  right: 50px;
}

/*=========================================================================================*/
/*LOADING*/
/*=========================================================================================*/
#loading_bubbles{
  position: absolute;
  display: inline-block;
  visibility: hidden;
  top: 75%;
  left: 65%;
  height: 250px;
  width: 250px;
} 

/*=========================================================================================*/
/*FOOTER*/
/*=========================================================================================*/
footer{
  position: relative;
  bottom: -63px;
  width:100%;
  height:25px;
}
footer h3{
  color: white;
  text-align: center;
}

/*=========================================================================================*/
/*VIDEO*/
/*=========================================================================================*/

video {
  height: 500px;
  width: 900px;
  
}

/*=========================================================================================*/
/*VIEWING*/
/*=========================================================================================*/
video.viewing_video{
  width: 100%; 
  margin: 30px 0px; 
}
aside.viewing_info{
  height:450px;
  width:100%;
  background-color: #222222;
  padding: 50px 20px;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);

}
#viewer_title {
  margin-top: 10px;
  color: #FFFFFF;
  font-size: 80px;
  text-align: center;
}
#poster_info img{
  display:inline-block;
  height: 350px;
  width: 50%;
  margin-right: 20px;
  border: 10px solid #FFFFFF;
  float:left;
}
#movie_info h2{
  font-size: 40px;
  color: #FFFFFF;
  text-decoration: underline;
}
#sub_movie_info {
  margin-top: 20px;
}
#sub_movie_info h4{
  font-size: 20px;
  color: #FFFFFF;
}
#synopsis {
  margin-bottom: 15px;
}
#movie_info{ 
  display: inline;
  height:350px;
  width:100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: black;
  
}

/*=========================================================================================*/
/*LANDING*/
/*=========================================================================================*/
section.landing_page {
 /* width: 1200px;
  overflow: scroll;*/
  /*width: 1200px;*/
  overflow: scroll;
}
section.landing_page h2{
  text-align: center;
  color: #FFFFFF;
}
article.landing_page_movieInfo{
/*  display: inline-block;
  margin: 50px 25px;
  margin-top: 5px;*/
 /* margin-top: 5px;
  width: 33%;*/
  display: inline-block;
  /*margin: 50px 25px;*/
  margin-top: 5px;
  overflow: scroll;
}

.landing_page_movieInfo_image{
 /* height: 300px;
  width: 270px;*/
/*  width: 100%;
  height: 125px;*/
  /*opacity:.8;*/
}
.landing_page_movieInfo {
  transform: scale(.9);
  position: relative;
  opacity: .85;
}

.landing_page_movieInfo :hover {
  transform: scale(1.1);
  transition: all .2s ease-in;
  opacity: 1;
}


/*=========================================================================================*/
/*PROFILE*/
/*=========================================================================================*/
section.profile_container{
  position: relative;
  height: 1100px;
  width: 100%;
}
aside.account_information{
  position: absolute;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #316daa), color-stop(35%, #316DAA), color-stop(77%, #316daa), color-stop(86%, #316DAA), color-stop(100%, #316daa));
  background-color: #046380;
  height: 100%;
  width: 325px;
  padding: 30px;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
  color: white;
}
#account_information_gravatar_container{
  border-bottom: 1px solid #FFFFFF;
  padding: 30px 0px;
  margin-bottom: 20px;
}
#account_information_gravatar{
  border: 8px solid #FFFFFF;
  border-radius: 100px;
  margin: 10px 0px;
  border-bottom: 2px solid #FFFFFF;
}
#account_information_title{
  font-size: 30px
}
/*#account_information_bullet{
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 5px;
}*/
#full_name{
  display: block;
}
aside.account_information h4{
  display: inline-block;
  margin-bottom: 20px;
  border-bottom: #FFFFFF;
}

section.profile_video_player{
  display: inline-block;
  position: absolute;
  margin-top: 40px;
  left: 30%;
}
section.profile_video_player video{
  width: 900px;
  height: 400px;
  margin-left: -30px;
  margin-bottom: 5px;
}

section.profile_video_player h1{
  text-align: center;
  color: white;
}

#not_upload{
  margin-top: 70px;
  text-align: center;
  color: #FFFFFF;
  font-size: 30px;
}

.upload-button{
  width: 500px;
  color: white;
  border: 1px solid #FFFFFF;
  margin-bottom: 100px;
}
section.upload_video_button{
  position: absolute;
  right: 36%;
  bottom: 0%;
}

.upload_list_title {
  margin-top: 25px;
  color: white;
  font-size: 30px;
}

.profile_video_list {
  height: 300px;
  width: 850px;
  padding: 10px;
  margin-top: 15px;
  overflow: hidden;
}
section.profile_video_list {
  background-color: #22222;
  height: 340px;
  width: 850px;
  border: 1px solid #FFFFFF;
  padding: 10px;
  overflow: hidden;
}
section.profile_video_list h1{
  text-align: center;
  margin-bottom: 20px;
  color: white;
}
section.profile_video_list h3{
  display: inline;
  margin-left: 10px;
  cursor: pointer;
  color: white;
}
section.profile_video_list img{
  display:inline-block;
  height:150px;
  width:125px;
  margin: 10px 0;
  overflow: hidden;
  cursor: pointer;
}
section.list-item-container{
  border-bottom: 1px solid #FFFFFF;
}

section.profile_tobevoted {
  border-bottom: 1px solid #7C7C7C;
  margin-bottom: 50px;
  height: 275px;
  padding-left: 150px;
}

.profile_voting_information{
  display: inline-block;
  position: absolute;
  color: #FFFFFF;
  height: 200px;
  width: 400px;
  margin-left: 50px;

}

/*=========================================================================================*/
/*VOTING*/
/*=========================================================================================*/

section.voting_page_container {
  height: 780px;
}

section.parent_voting_container {
  border-top: 1px solid #316DAA;
}

section.voting_container{
  height: 550px;
  width: 1160px;
  overflow: scroll;
  position: relative;
  margin: 50px auto;
}

section.voting_container h4{
  color: #FFFFFF;
  /*border-bottom: 1px solid #242632;*/
  height: 275px;
  width: 100%;
  text-align: center;
  padding: 20px; 
}
section.vote_contain {
  margin-top: 20px;
  margin-left: 10px;
  border-top: 3px solid #FFFFFF;
  padding: 40px 30px 10px 10px; 
  height: 200px;
}

section.voting_container h3{
  color: #FFFFFF;
  text-align: center;
  padding: 20px; 
  font-size: 35px;
}

#profile_voting_list_title {
  color: #FFFFFF;
  padding: 20px;
  font-size: 35px;
  margin-top: 50px;
  text-align: center;
}

.vote_title {
  width: 100%;
  height: 150px;
  border-top: 3px solid #FFFFFF;
  z-index: 1;
}

.voting_information h3 h4{
  text-align: center;
}
#voting_information_viewer h2{
  color: #FFFFFF;
  font-size: 30px;
  margin-bottom: 10px;
  text-decoration: underline;
}
#voting_information_viewer h5{
  color: #FFFFFF;
  font-size: 20px;
}
.vote_title h1 {
  color: white;
  text-align: center;
}

#voting_image img{
    height: 250px;
    margin: 40px 0px 0px 15px;
    border: 5px solid #FFFFFF;
    float: left;
    margin-right: 25px;
}

#voting_image {
    height: 200px;
    border-radius: 10px;
    cursor: pointer; 
}
#voting_image_viewer img{
  height: 250px;
  /*margin: 20px 0px 0px 15px;*/
  border: 5px solid #FFFFFF;
  float: left;
  margin-right: 25px;
}

section.stars{
  display: block;
  margin-top: 40px;
}

#voting_image {
    height: 200px;
    border-radius: 10px;
    opacity: .8;
}

#voting_image img :hover {
    height: 200px;
    border-radius: 10px;
    opacity: 1;
}

section.voting_player_container {
  text-align: center;
  margin-bottom: 50px;
}

#voting_information {
  display: block;
  font-size: 25px;
  color: white;
}

/*=========================================================================================*/
/*HEADER*/
/*=========================================================================================*/

@import url(https://fonts.googleapis.com/css?family=Architects+Daughter|Rock+Salt|Bubbler+One);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

 .navbar-brand {
    font-size: 36px !important;
    /*font-family: 'Architects Daughter', cursive;*/
     /*font-family: 'Rock Salt', cursive; */
    /*font-family: 'Bubbler One', sans-serif;*/
    font-family: 'Oswald', sans-serif;
    font-weight: 700;

}


.headerWrapper {
/*    height: 85px;
    width: 80%;
    margin: 0 auto;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;*/

    height: 72px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
}

header h1 {
  /*  color: white;
    font-size: 25px;
    padding-top: 20px;
    display: inline-flex; 
    cursor: pointer;*/
        color: white;
    font-size: 16px;
    padding-top: 20px;
    display: inline-flex;
    cursor: pointer;
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 600;
}

.brand {
  flex-grow: 1;
  display: flex;
}

.brand h1 {
  /*font-family: 'Raleway Dots', cursive;*/
/*  font-family: bebas-neue, sans-serif;
  font-size: 40px;
  letter-spacing: 2px;*/
    font-family: bebas-neue, sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    padding-top: 8px;
}
.menu {
  flex-grow: 12;
}

.videoListWrapper { 
/*  width: auto;
  margin-left: 10%;
  margin-right: 10%;*/
    width: 80%;
    margin: 0 auto;
}
.videoListWrapper h2 { 
 /*   text-align: center;
    font-size: 33px;
    padding: 20px 0px;
    color: white;*/

    text-align: center;
    font-size: 25px;
    padding: 20px 0px;
    color: white;
    font-family: raleway, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.landing_page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.landing_page_movieInfo img {
    width: 100%;
    border-radius: 5px;
    opacity:.7;
}

.headerBackground {
    /*background-color: rgba(0, 0, 0, 0.5);*/
    background-color: #316daa;
}


/* USER AUTHENTICATION SECTION */
.userLogin {
  margin-right: 25px;
  margin-left: 15px;
}

.wrapper {
  height: 100%;
}

/*=========================================================================================*/
/* SEARCH RESULTS */
/*=========================================================================================*/

.result_header{
  height: 90px;
  width: 100%;
  border-bottom: 1px solid #FFFFFF;
  border-top: 10px solid #FFFFFF;
}

.result_header h1{
  margin-top: 20px;
  font-size: 40px;
  color: #FFFFFF;
  text-align: center;
  text-transform: lowercase;
}

.searchResults {
  display: block;
   width: 80%;
    margin: 0 auto;
}
.search-item-container {
  border-radius: 150px;
  /*width: 100%;*/
}
.search-item-title-container{
  display: block;
  color: #FFFFFF;
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
  margin-top: 30px;
}

.searchResults img{
  display: block;
  margin:60px auto;
  border-radius: 175px;
  border: 8px solid #FFFFFF;
  cursor: pointer;
  height: 350px;
}


/* MENU DROPDOWN */
/* Dropdown Button */
.dropbtn {
    /*background-color: rgba(0, 0, 0, 0.5); */
    background-color: #316daa; 
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    /*position: relative;*/
    /*display: inline-block;*/
   /* margin-top: 8px;
    padding-left: 24px;
    font-size: 21px;*/
/*    margin-top: 8px;
    padding-left: 20px;
    font-size: 16px;
    font-family: raleway, sans-serif;
    text-transform: uppercase !important;
    font-weight: 600;*/
    padding-left: 20px;
    /* font-size: 16px; */
    /* font-family: raleway, sans-serif; */
    text-transform: uppercase !important;
    /* font-weight: 600; */
    line-height: 1.6;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  /*background-color: #525252;*/
  background-color: #71A7DD;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    /*background-color: #525252;*/
    background-color: #71A7DD;
}

.footerBackground {
  height: 80px;
  padding-top: 30px;
}

.movieHover {
  display: block;
  position: absolute;
}

/*::-webkit-input-placeholder { color: #3b3a30; } */


.showBlock:hover {
  background-color: #71A7DD;
}



